.container{
      margin-top: 50px;
}


.infoContainer{
   display: flex;
   align-items: center;
   gap: 50px;
}

.title{
    font-size: 64px;
    margin-bottom: 50px;
}
.textContainer{
  flex: 1;
}

.imgContainer{
  flex: 1;
  height: 350px;
  position: relative;
}

.image{
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(197, 193, 193, 0.25) 0px 25px 50px -12px !important;
}

.user{
  display: flex;
  align-items: center;
  gap: 20px;
}


.userImgContainer{
  width: 50px;
  height: 50px;
  position: relative;
}

.avatar{
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.userTextContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}


.username{
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.content{
  display: flex;
  gap: 50px;
}

.post{
  flex: 5;
  margin-top: 50px;
}

.description p{
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  
}